<html>
<head>
  <title>
    Principal
  </title>
  <link rel="stylesheet" href="login.css">
  <meta charset="UTF-8">
</head>
<body>
  <div class="login">
    <div>
      <%- lista %>
    </div>
  </div>
</body>
</html>